<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jason0x43.alfred-redmine</string>
	<key>connections</key>
	<dict>
		<key>4380E678-B8E0-4A91-A6B8-B7BBCB8CD77C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F125F3DF-B27E-4C8E-A645-84AEB04B4686</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CA8FC94A-7993-4605-A2BC-689323A7B296</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CCCFC8CE-F019-4819-AB95-2C71FA74AAB2</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CA8FC94A-7993-4605-A2BC-689323A7B296</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D75D001-2AFC-4180-ABDC-F8E241A86A30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CCCFC8CE-F019-4819-AB95-2C71FA74AAB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D75D001-2AFC-4180-ABDC-F8E241A86A30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F125F3DF-B27E-4C8E-A645-84AEB04B4686</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D75D001-2AFC-4180-ABDC-F8E241A86A30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Cheatham</string>
	<key>description</key>
	<string>Quick access to redmine tickets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Redmine</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./alfred-redmine do "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F125F3DF-B27E-4C8E-A645-84AEB04B4686</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./alfred-redmine do "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CA8FC94A-7993-4605-A2BC-689323A7B296</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>rm</string>
				<key>runningsubtext</key>
				<string>Talking to Redmine...</string>
				<key>script</key>
				<string>./alfred-redmine tell "{query}"</string>
				<key>subtext</key>
				<string>Interact with a Redmine server</string>
				<key>title</key>
				<string>rm</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4380E678-B8E0-4A91-A6B8-B7BBCB8CD77C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Redmine</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9D75D001-2AFC-4180-ABDC-F8E241A86A30</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./alfred-redmine do "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CCCFC8CE-F019-4819-AB95-2C71FA74AAB2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Version: 1.1.0</string>
	<key>uidata</key>
	<dict>
		<key>4380E678-B8E0-4A91-A6B8-B7BBCB8CD77C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9D75D001-2AFC-4180-ABDC-F8E241A86A30</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CA8FC94A-7993-4605-A2BC-689323A7B296</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CCCFC8CE-F019-4819-AB95-2C71FA74AAB2</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F125F3DF-B27E-4C8E-A645-84AEB04B4686</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jason0x43/alfred-redmine</string>
</dict>
</plist>
